/* Grid User*/
.navbar-user {
    grid-area: header;
    height: 80.72px;
}

.main-user {
    grid-area: main;
    height: 100%;
}

.footer-user {
    grid-area: footer;
}

.grid-user {
    display: grid;
    grid-template-areas:
        "header"
        "main "
        "footer ";
}

.grid-user > section {
    font-size: medium;
}
/* Grid Admin*/
.logo-admin {
    grid-area: logo;
    height: 111px;
    width: 250px;
}
.navbar-admin {
    height: 111px;
    grid-area: nav;
}
.sidebar-admin {
    grid-area: side;
    height: 763px;
    width: 250px;
}
.body-main {
    grid-area: body;
    height: 763px;
}

.grid-admin {
    display: grid;
    grid-template-areas:
        "logo nav"
        "side body";
}

.grid-admin > section {
    font-size: medium;
}

/* CSS Sign-in */
.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* CSS Background Static */
body {
    background-image: url("../img/background.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
